body {
    background: #F3F5FC;
}

li{
    cursor: pointer;
}

.logo {
    margin-top: 40px;
    margin-left: 84px;
    width: 31px;
    height: 48px;
}

.custom_nav {
    background-color: #0A3871;
}

.custom_a_color {
    color: white;
}

.logo_letra {
    font-size: 30px;
    color: white;
    font-family: 'Hind', sans-serif;
    display: inline;
    font-weight: bold;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 100%;
}

.sub_contenedor {
    justify-content: left;
    margin-top: 5vh;
    flex: .6;
}

.texto_entrada {
    border: none;
    background-color: transparent;
    font-size: 32px;
    resize: none;
    height: 64vh;
    width: 100%;
    min-width: 300px;
    font-family: Inter;
}


.custom_a_color_azul:focus {
    color: aqua;
}

.custom_a_color_azul:hover {
    color: aqua;
}

.custom_a_color_rojo:hover {
    color: #700000;
}

.custom_a_color_rojo:focus {
    color: #700000;
}

.custom_a_color_verde:hover {
    color: #005f00;
}

.custom_a_color_verde:focus {
    color: #005f00;
}

.texto_entrada_azul {
    color: #0A3871;
}

.texto_entrada_azul::placeholder {
    color: #0A3871;
}

.texto_entrada_rojo::placeholder {
    color: #b20000;
}

.texto_entrada_verde::placeholder {
    color: #25b125;
}

.texto_entrada:focus {
    outline: none;
}

.indicacion {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
}

.contenedor_inferior{
    width: 100%;
}

.contenedor_botones{
    display: flex;
    justify-content: center;
}

.encriptar_boton,
.desencriptar_boton {
    max-width: 325px;
    height: 67px;
    border-radius: 24px;
    font-style: normal;
    line-height: 19px;
    text-align: center;
    font-family: Inter;
    cursor: pointer;
    flex: .5;
}

.encriptar_boton {
    background-color: #0A3871;
    color: white;
    margin-right: 24px;
}

.desencriptar_boton {
    background-color: transparent;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.campo_desencriptado {
    display: flex;
    width: 400px;
    height: 80vh;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 24px 32px -8px;
    margin-right: 40px;
    margin-top: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.titulo_no_salida {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    width: 50%;
    color: #343A40;
}

.descripcion_no_salida {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 50%;
    color: #343A40;
}

.copiar_boton {
    display: none;
    width: 80%;
    max-width: 364px;
}

.descripcion {
    display: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    height: 650px;
    align-content: center;
    width: 70%;
    height: 0.9;
    word-wrap: break-word;
    overflow-y: auto;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #0A3871;
    color: white;
    justify-content: center;
    margin-top: 6.2vh;
    align-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.linkeding { 
    font-size: 30px;
    margin-left: 10px;
}


@media (max-width: 930px) {
    .logo {
        display: block;
        float: none;
        margin-left: 20px;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .sub_contenedor {
        margin: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .campo_desencriptado {
        width: 100%;
    }

    .texto_entrada {
        height: 400px;
    }

    .campo_desencriptado {
        height: 200px;
    }

    .ilustracion {
        display: none;
    }

}